src/sbt-test/sbt-xjc/xero/src/main/resources/xsd/Attachment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Attachment"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />

  <xs:element name="Attachments" type="ArrayOfAttachment" />

  <!-- Attachments -->
  <xs:complexType name="ArrayOfAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="Attachment" />
    </xs:sequence>
  </xs:complexType>
  
  <!-- Attachment -->
  <xs:complexType name="Attachment">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element minOccurs="1" maxOccurs="1" name="AttachmentID" type="uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="FileName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Url" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" name="MimeType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContentLength" type="xs:integer" />

    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
