src/sbt-test/sbt-xjc/xero/src/main/resources/xsd/BrandingTheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BrandingTheme"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
    
  <xs:element name="BrandingThemes" type="ArrayOfBrandingTheme" />

  <!-- Branding Themes -->
  <xs:complexType name="ArrayOfBrandingTheme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrandingTheme" nillable="true" type="BrandingTheme" />
    </xs:sequence>
  </xs:complexType>

  <!-- Branding Theme -->
  <xs:complexType name="BrandingTheme">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element minOccurs="1" maxOccurs="1" name="BrandingThemeID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SortOrder" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreatedDateUTC" type="xs:dateTime" />
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
