src/sbt-test/sbt-xjc/xero/src/main/resources/xsd/Contact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Contact"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Address.xsd" />
  <xs:include schemaLocation="BrandingTheme.xsd" />
  <xs:include schemaLocation="Phone.xsd" />
  <xs:include schemaLocation="CurrencyCode.xsd" />

  <xs:element name="Contacts" nillable="true" type="ArrayOfContact" />

  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="Contact" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Contact">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element minOccurs="0" maxOccurs="1" name="ContactID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactNumber" type="contactNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactStatus" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="contactName" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="contactFirstName" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="contactLastName" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="emailAddress" />
      <xs:element minOccurs="0" maxOccurs="1" name="SkypeUserName" type="skypeUserName" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankAccountDetails" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxNumber" type="taxNumberType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountsReceivableTaxType" type="taxType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountsPayableTaxType" type="taxType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Addresses" type="ArrayOfAddress" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phones" type="ArrayOfPhone" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactGroups" type="ArrayOfContactGroup" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsSupplier" nillable="false" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsCustomer" nillable="false" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrandingTheme" nillable="false" type="BrandingTheme" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultCurrency" type="currencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Balances" type="Balances" />
      <xs:element minOccurs="0" maxOccurs="1" name="Website" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactPersons" nillable="false" type="ArrayOfContactPerson" />
      <xs:element minOccurs="0" maxOccurs="1" name="HasAttachments" nillable="false" type="xs:boolean" />
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:simpleType name="contactNumber">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ArrayOfContactGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactGroup" nillable="true" type="ContactGroup" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfContactPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPerson" nillable="true" type="ContactPerson" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IncludeInEmails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Balances">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountsReceivable" nillable="true" type="AccountsReceivable" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountsPayable" nillable="true" type="AccountsPayable" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AccountsReceivable">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Outstanding" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Overdue" type="xs:decimal" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AccountsPayable">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Outstanding" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Overdue" type="xs:decimal" />
    </xs:all>
  </xs:complexType>

</xs:schema>
