src/sbt-test/sbt-xjc/xero/src/main/resources/xsd/Currency.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Currency"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="CurrencyCode.xsd" />
  
  <xs:element name="Currencies" nillable="true" type="ArrayOfCurrency" />

  <xs:complexType name="ArrayOfCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="Currency" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Currency">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="currencyCode" />
      <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string" />

    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

</xs:schema>