src/sbt-test/sbt-xjc/xero/src/main/resources/xsd/RepeatingInvoice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Invoice"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Account.xsd" />
  <xs:include schemaLocation="Payment.xsd" />
  <xs:include schemaLocation="Contact.xsd" />
  <xs:include schemaLocation="CurrencyCode.xsd" />
  <xs:include schemaLocation="LineItem.xsd" />
  <xs:include schemaLocation="CreditNote.xsd" />

  <xs:element name="RepeatingInvoices" nillable="true" type="ArrayOfRepeatingInvoice" />

  <xs:complexType name="ArrayOfRepeatingInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepeatingInvoice" nillable="true" type="RepeatingInvoice" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RepeatingInvoice">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="Contact" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrandingThemeID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="invoiceStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="currencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineAmountTypes" nillable="true" type="lineAmountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineItems" type="ArrayOfLineItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubTotal" nillable="true" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalTax" nillable="true" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Total" nillable="true" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Schedule" type="Schedule" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepeatingInvoiceID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="invoiceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalDiscount" nillable="true" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="HasAttachments" type="xs:boolean" />
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="Schedule">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Period" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Unit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DueDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DueDateType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NextScheduledDate" type="xs:dateTime" />
    </xs:all>
  </xs:complexType>

</xs:schema>
