src/sbt-test/sbt-xjc/xero/src/main/resources/xsd/Tracking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Tracking"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />

  <xs:element name="TrackingCategories" type="ArrayOfTrackingCategory" />
  
  <xs:complexType name="TrackingCategory">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
      
      <xs:element minOccurs="1" maxOccurs="1" name="TrackingCategoryID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Options" type="ArrayOfTrackingCategoryOption" />
      <xs:element minOccurs="0" maxOccurs="1" name="Option" type="xs:string" />
    
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="TrackingCategoryOption">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="TrackingOptionID" type="uniqueIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:complexType name="ArrayOfTrackingCategoryOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="TrackingCategoryOption" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ArrayOfTrackingCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingCategory" nillable="true" type="TrackingCategory" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
