src/sbt-test/sbt-xjc/xero/src/main/resources/xsd/User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="User"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />

  <xs:element name="Users" type="ArrayOfUser" />

  <!-- 
  ArrayOfUser
  -->
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element name="User" minOccurs="0" maxOccurs="unbounded" type="User" />
    </xs:sequence>
  </xs:complexType>

  <!-- 
  User 
  -->
  <xs:complexType name="User">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element name="UserID" minOccurs="0" maxOccurs="1" type="uniqueIdentifier" />
      <xs:element name="FirstName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="LastName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="UpdatedDateUTC" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="IsSubscriber" minOccurs="0" maxOccurs="1" type="trueOrFalse" />
      <xs:element name="OrganisationRole" minOccurs="0" maxOccurs="1" type="organisationRole" />
    
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
